{% extends 'layout.html' %}

{% block title %}
    All Parking Lots
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Lot Details: {{ lot.lot_name }}</h1>

<div class="container">
  <table class="table table-bordered">
    <tr><th>Lot ID</th><td>{{ lot.lot_id }}</td></tr>
    <tr><th>Location</th><td>{{ lot.location }}</td></tr>
    <tr><th>Total Capacity</th><td>{{ lot.capacity }}</td></tr>
    <tr><th>Occupied Spots</th><td>{{ occupied }}</td></tr>
    <tr><th>Available Spots</th><td>{{ available }}</td></tr>
    <tr><th>Cost per Hour</th><td>{{ lot.per_hour_cost }}</td></tr>
  </table>
</div>
{% endblock %}
